application.ini
bower_components/
certs/
composer.lock
docs/api
html/
latex/
log/*
!log/README
npm-debug.log
public/api/*
public/css/all.css
public/data/*
public/js/all-*.js
public/phpinfo.php
public/tmp/*
!public/tmp/README
setup/apache.conf
*.swo
*.swp
tests/report/
tests/tmp/*
vendor/
you2better-conf.php
youtube.php
