[submodule "public/api"]
	path = public/api
    url = https://github.com/dmelo/you2better.git
[submodule "library/LightningPackerHelper"]
	path = library/LightningPackerHelper
	url = https://github.com/dmelo/LightningPackerHelper.git
[submodule "library/DZend"]
	path = library/DZend
	url = https://github.com/dmelo/DZend.git
[submodule "external/EasyBib"]
	path = external/EasyBib
	url = git://github.com/easybib/EasyBib_Form_Decorator.git
[submodule "external/jPlayer"]
	path = external/jPlayer
	url = git://github.com/happyworm/jPlayer.git
[submodule "library/amuzi_search"]
	path = library/amuzi_search
	url = https://github.com/dmelo/amuzi_search.git
[submodule "application/modules/Auth"]
	path = application/modules/Auth
	url = https://github.com/dmelo/zend-module-login.git
[submodule "external/zf1"]
	path = external/zf1
	url = https://github.com/zendframework/zf1.git
[submodule "external/bootstrap-helpers"]
	path = external/bootstrap-helpers
	url = https://github.com/dmelo/bootstrap-helpers.git
[submodule "external/facebook-php-sdk"]
	path = external/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "external/incboardjs"]
	path = external/incboardjs
	url = https://github.com/dmelo/incboardjs.git
[submodule "external/jquery-i18n"]
	path = external/jquery-i18n
	url = https://github.com/recurser/jquery-i18n.git
