body {
    overflow: hidden;
}

.italic {
    font-style: italic;
}

#logo {
    position: fixed;
    top: 0px;
    margin-top: 40px;
    margin-left: 23px;
}

.container.regular {
    margin-top: 70px;
}

input[type=button]:hover, input[type=submit]:hover {
    cursor: pointer;
}

table img {
    border: 0;
}

#result img.cover {
    padding: 1px;
    border: 1px solid #3a3e41;
}

dt {
    display: none;
}

dl {
    display: block;
    position: relative;
}

dd {
    display: inline;
}

#jp_container_1 {
    position: relative;
    right: 1px;
    top: 40px;
}

/*
#jquery_jplayer_1 {
    height: 0px !important;
    opacity: 0.0;
}
    */

.ac_results li.ac_even {
    background-color: #d5d5d5;
}

.ac_results li.ac_odd {
    background-color: white;
}

.ac_results li:hover, .ac_results li.ac_over {
    background-color: #3a3e41;
    color: white;
    cursor: pointer;
}

form.search {
    text-align: center;
    margin-top: 50px;
}

.wrapper {
    position: relative;
}

.jp-playlist-item-remove {
    display: block !important;
}

dd#submit-element {
    margin-left: -2px;
}

.footer {
    background: #eee;
    border-top: #e5e5e5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.ac_input {
    color: black;
}

.alert {
    z-index: 3;
    width: 600px !important;
    opacity: 0;
    position: fixed;
    margin-top: 48px;


}

.loginRequired {
    opacity: 0;
}

.invisible {
    display: none;
}

#playlistsettings-result img {
    height: 64px;
}

#playlistsettings-result tbody tr {
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}

#playlistsettings-result tbody tr:hover {
    background-color: #f40c42;
    cursor: pointer;
    color: white;
}


#load-modal-wrapper {
    max-height: 600px;
    overflow: auto;
}

.big-modal {
    width: 592px;
    margin-left: -296px;
}

#playlistsettings-result {
    width: 100%;
}

#wrapper {
    margin-bottom: 37px;
}

.modal-body table {
    width: 100%;
}

.modal-body table {
    text-align: center;
}

ul.jp-toggles li a.share {
    background("/img/share-mini.png") 0 -420px no-repeat;
    margin-left: 20px;
}

ul.jp-toggles li a.share:hover {
    background("/img/share-mini.png") -30px -420px no-repeat;
}

ul.ui-autocomplete {
    list-style: none;
    background-color: white;
    width: 378px !important;

    --moz-border-radius: 5px;
    --moz-border-top-left-radius: 0px;
    --moz-border-top-right-radius: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 1px 5px #3a3e41;
    border: 0px;
}

ul.ui-autocomplete li {
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}

ul.ui-autocomplete li:hover {
    cursor: pointer;
    background-color: #F40C42;
}

ul.ui-autocomplete li a {
    text-decoration: none;
}

ul.ui-autocomplete li a img {
    max-width: 50px;
    max-height: 50px;
}

ul.ui-autocomplete {
    position: absolute !important;
    top: 148px !important;
    width: 300px !important;
}

.ui-autocomplete-loading {
    background:url('/img/autocomplete-loader.gif') no-repeat right center;
}

.share-link {
    text-align: center;
}

.share-link {
    font-size: 1.5em;
}

.playlist-edit-name {
    float: right;
}

.playlist-name {
    float: left;
}

.playlist-edit-name img {
    height: 20px !important;
    width: 20px;
    opacity: 0.0;
}

.playlist-form-name {
    display: none;
}

.opacity-full {
    opacity: 1.0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=100);
}

.opacity-none {
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=0);
}

span.vote {
    margin-right: 3px;
}

.jp-free-media {
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=0);
}
