body {
    overflow: hidden;
}

#content {
    margin-top: 50px;
}

#amazingly-free {
    background-color: white;
}

.italic {
    font-style: italic;
}

#logo {
    position: fixed;
    top: 0px;
    margin-top: 40px;
    margin-left: 23px;
}

.container {
    text-align: center;
}

.container.regular {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
}

input[type=button]:hover, input[type=submit]:hover {
    cursor: pointer;
}

table img {
    border: 0;
}

#result img.cover {
    padding: 1px;
    border: 1px solid #3a3e41;
}

dt {
    display: none;
}

dl {
    display: block;
    position: relative;
}

dd {
    display: inline;
}

#jp_container_1 {
    position: absolute;
    right: 1px;
    left: 100%;
    margin-left: -482px;
    top: -75px;
}

#jp_container_1.lonely {
    top: 40px;
}


#jp_container_1.lonely .jp-playlist {
    display: none;
}

.ac_results li.ac_even {
    background-color: #d5d5d5;
}

.ac_results li.ac_odd {
    background-color: white;
}

.ac_results li:hover, .ac_results li.ac_over {
    background-color: #3a3e41;
    color: white;
    cursor: pointer;
}

form {
    text-align: left;
}

form.search {
    text-align: center;
}

form.search input.search {
    margin-top: 4px;
}

form.search input[type=submit] {
    height: 30px !important;
}

.wrapper {
    position: relative;
}

.jp-playlist-item-remove {
    display: block !important;
}

.jp-playlist li.new {
    animation:playlistnewitem 2s;
    animation-iteration-count: infinite;

    -moz-animation:playlistnewitem 2s; /* Firefox */
    -moz-animation-iteration-count: infinite;

    -webkit-animation:playlistnewitem 2s; /* Safari and Chrome */
    -webkit-animation-iteration-count: infinite;

    -o-animation:playlistnewitem 2s; /* Opera */
    -o-animation-iteration-count: infinite;
}

@keyframes playlistnewitem
{
    0% {background: #282828;}
    50% {background:#530;}
    100% {background:#282828;}
}

@-moz-keyframes playlistnewitem
{
    0% {background: #282828;}
    50% {background:#530;}
    100% {background:#282828;}
}

@-webkit-keyframes playlistnewitem
{
    0% {background: #282828;}
    50% {background:#530;}
    100% {background:#282828;}
}

@-o-keyframes playlistnewitem
{
    0% {background: #282828;}
    50% {background:#530;}
    100% {background:#282828;}
}

dd#submit-element {
    margin-left: 0px;
    margin-top: -2px;
}

.footer {
    background: #eee;
    border-top: #e5e5e5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.popover {
    z-index:5000000;
}

.ac_input {
    color: black;
}

.loginRequired, .logoffRequired {
    opacity: 0;
    filter: alpha (opacity = 0);
    display: none;
}

.invisible {
    display: none;
}

#playlistsettings-result img {
    height: 64px;
}

#playlistsettings-result tbody tr {
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}

#playlistsettings-result tbody tr:hover {
    background-color: #f40c42;
    cursor: pointer;
    color: white;
}


#load-modal-wrapper {
    max-height: 640px;
    overflow: auto;
}

.big-modal {
    width: 592px;
    margin-left: -296px;
}

#playlistsettings-result {
    width: 100%;
}

#wrapper {
    margin-bottom: 37px;
}

.modal-body table {
    width: 100%;
}

.modal-body table {
    text-align: center;
}

ul.jp-toggles li a.share {
    background("/img/share-mini.png") 0 -420px no-repeat;
    margin-left: 20px;
}

ul.jp-toggles li a.share:hover {
    background("/img/share-mini.png") -30px -420px no-repeat;
}

ul.ui-autocomplete {
    list-style: none;
    background-color: white;
    width: 378px !important;

    --moz-border-radius: 5px;
    --moz-border-top-left-radius: 0px;
    --moz-border-top-right-radius: 0px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 1px 5px #3a3e41;
    border: 0px;

    z-index: 30 !important;
}

ul.ui-autocomplete li {
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}

ul.ui-autocomplete li.album {
    background-color: #ccc;
}

ul.ui-autocomplete li small {
    font-size: 10px;
    font-weight: bold;
}

ul.ui-autocomplete li div.description {
    min-height: 50px;
    margin-top: -50px;
    margin-left: 54px;
    width: 246px;
}

ul.ui-autocomplete li.ui-menu-item:hover {
    cursor: pointer;
    background-color: #F40C42;
}

ul.ui-autocomplete li.ui-autocomplete-category {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

ul.ui-autocomplete li a {
    text-decoration: none;
}

ul.ui-autocomplete li a img {
    max-width: 50px;
    max-height: 50px;
}

ul.ui-autocomplete li .cover {
    width: 50px;
    height: 50px;
}

ul.ui-autocomplete {
    position: absolute !important;
}

ul.ui-autocomplete-logout {
    top: 41px !important;
    width: 366px !important;
}

ul.ui-autocomplete-login {
    top: 162px !important;
    width: 300px !important;
}

.ui-autocomplete-loading {
    background:url('/img/autocomplete-loader.gif') no-repeat right center;
}

.share-link {
    text-align: center;
}

.share-link {
    font-size: 1.5em;
}

.playlist-edit-name {
    float: right;
}

.playlist-name {
    float: left;
}

.playlist-edit-name img {
    height: 20px !important;
    width: 20px;
    opacity: 0.0;
}

.playlist-form-name {
    display: none;
}

.opacity-full {
    opacity: 1.0;
    -moz-opacity: 1.0;
    filter: alpha(opacity=100);
}

.opacity-none {
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=0);
}

.jp-free-media {
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=0);
}

.vote img {
    height: 60px;
    padding-right: 10px;
}

.download-large img {
    height: 60px;
    padding-right: 10px;
}

.stripe {
    min-height: 115px;
}

.side-view-thumb {
    position: relative;
    float: right;
    margin-top: -64px;
}

.side-view-thumb img {
    width: 200px;
}

.playlist-info, .album-info {
    display: none;
}

#edit-playlist {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

#edit-playlist li {
    list-style: none;
}

#edit-playlist img {
    width: 50px;
}

dd {
    margin-left: 0px;
}

.music-manager-group {
    position: fixed;
    max-height: 100%;
    width: 100%;
}

.music-manager-content {
    margin-right: 482px;
    overflow-y: scroll;

}

.collection-info .caption, .collection-info .cover {
    display: inline-block;
}


.collection-info .cover img {
    height: 97px;
}

.container.regular .collection-info .cover img {
    height: 260px;
}

.caption {
    padding-left: 20px;
    font-weight: bold;

}

.collection-info table img {
    height: 50px;
}

.collection-info img.icon {
    height: 25px;
}

.text-img {
    height: 22px;
}

.inner-login {
    padding: 20px;
}

.left {
    text-align: left;
}

.quote-person {
    float: left;
    height: 70px;
}

.quote-set .quote {
    display: none;
    min-height: 68px;
}

.intro-video {
text-align: center;
}

.intro-video img {
    width: 30px;
    height:30px;
    padding:40px;
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid black;
}

.intro-video img:hover {
    box-shadow: 0px 1px 5px #3a3e41;
    background-color: rgba(255, 0, 0, 0.6);
}

.modal-wide {
    width: 750px;
    margin-left: -375px;
}

.modal-wide .modal-body {
    max-height: 560px;
}

.embed-image {
    width: 220px;
    float: left;
    padding:15px;
}
