
#gallery-bg {
	background: url(/img/img05.jpg) repeat-y left top;
}

#gallery-bgtop {
	background: url(/img/img04.jpg) no-repeat left top;
}

#gallery-bgbtm {
	background: url(/img/img06.jpg) no-repeat left bottom;
	padding: 50px 40px;
}


#foobar
{
	width: 550px;
	height: 330px;
	position: relative;
	background:red;
}

#foobar .navigation
{
	position: absolute;
	display: block;
	z-index: 100;
	color: #ffffff;
	bottom: 0px;
	right: 0px;
	margin: 10px;
	padding: 10px;
	background-color: #303030;
	opacity: 0.75;
}

#foobar .navigation a
{
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

#foobar .viewer
{
	width: 550px;
	height: 330px;
}

#foobar .viewer .reel .slide
{
	position: relative;
	width: 550px;
	height: 330px;
}

#foobar .viewer .reel .slide span
{
	position: absolute;
	display: block;
	width: 520px;
	opacity: 0.50;
	padding: 20px;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3A3D40;
	bottom: 0px;
	left: 0px;
}
