#incboard {
    position: relative;
}

.incboard-cell {
    position: absolute;
}

.incboard-info {
    display: none;
}

.incboard-cell.inevidence .incboard-img {
    width: 120px;
}

.incboard-cell.inevidence .incboard-info {
    display: block;
}
