#incboard {
    position: absolute;
}

.incboard-cell {
    position: absolute;
}

.incboard-info {
    display: none;
}

.incboard-cell.music-square .cover {
    opacity: 1.0;
    filter: alpha (opacity = 100);
    background-color: transparent;
}

.incboard-cell.music-square .play {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -12px;
}

.incboard-cell.album-square .cover-img {
    position: relative;
    margin-top: -100%;
    margin-left: 25%;
    left: -3px;
    top: -2px;
}

.incboard-cell.album-square .side {
    background-color: black;
    position: relative;
    margin-left: 0px;
    top: -3px;
}


.incboard-cell .incboard-control {
    display: none;
}

.incboard-cell .object-music {
    display: none;
}

.incboard-cell {
    width: 56px;
    height: 44px;
}

.incboard-cell .incboard-img {
    padding: 3px;
}

.incboard-cell .inevidence.object-music {
    display: block;
    margin: 5px;
}

.incboard-cell.focus, .incboard-cell.center {
    margin-left: -2px;
    margin-top: -2px;
    border: 2px solid black;
    z-index: 20;

    animation:incboardcellfocus 1s;
    animation-iteration-count: infinite;

    -moz-animation:incboardcellfocus 1s; /* Firefox */
    -moz-animation-iteration-count: infinite;

    -webkit-animation:incboardcellfocus 1s; /* Safari and Chrome */
    -webkit-animation-iteration-count: infinite;

    -o-animation:incboardcellfocus 1s; /* Opera */
    -o-animation-iteration-count: infinite;
}

@keyframes incboardcellfocus
{
    0% {background:#f00; border-color:#f00;}
    50% {background:#00f; border-color:#00f;}
    100% {background:#f00; border-color:#f00;}
}

@-moz-keyframes incboardcellfocus
{
    0% {background:#f00; border-color:#f00;}
    50% {background:#00f; border-color:#00f;}
    100% {background:#f00; border-color:#f00;}
}

@-webkit-keyframes incboardcellfocus
{
    0% {background:#f00; border-color:#f00;}
    50% {background:#00f; border-color:#00f;}
    100% {background:#f00; border-color:#f00;}
}

@-o-keyframes incboardcellfocus
{
    0% {background:#f00; border-color:#f00;}
    50% {background:#00f; border-color:#00f;}
    100% {background:#f00; border-color:#f00;}
}

/*
.incboard-cell.center {
    animat
}
    */



.incboard-cell .music-large {
    top: -5px;
    left: -5px;
}
