#incboard {
    position: relative;
}

.incboard-cell {
    position: absolute;
}

.incboard-info {
    display: none;
}

.incboard-cell .incboard-control {
    display: none;
}

.incboard-cell .object-music {
    display: none;
    z-index: 100;
}

.incboard-cell .incboard-img img {
    width: 50px;
    height: 38px;
    margin: 3px;
}

.incboard-cell .inevidence.object-music {
    display: block;
    margin: 5px;
}

.incboard-cell.focus {
    background-color: blue !important;
}
