.mozaic {
    float: left;
    position: absolute;
    top: -88px;
    left: 0px;
}

.mozaic .music-square {
    float: left;
    width: 300px;
    height: 300px;
}

.mozaic .music-square .description, .mozaic .music-square .play {
    z-index: 1;
    position: relative;
    bottom: 100%
}

.mozaic .music-square .description {
    background-color: rgba(255, 255, 255, 0.85);
}

.mozaic .music-square .play {
    float:right;
    margin-top: -26px;
}

.music-square:hover {
    cursor: pointer;
}

.music-square .description, .music-square .play, .album-square .play {
    display: none;
}

.music-square .cover {
    opacity: 0.3;
    filter: alpha (opacity = 30);
    background-color: white;
}

.music-square .cover:hover {
    opacity: 1.0;
    filter: alpha (opacity = 100);
}
