.mozaic {
    float: left;
    position: absolute;
    top: -74px;
    left: 0px;
}

.mozaic .music-square {
    float: left;
    width: 300px;
    height: 300px;
}

.mozaic .music-square .description, .mozaic .music-square .play {
    z-index: 1;
    position: relative;
    bottom: 100%
}

.mozaic .music-square .description {
    background-color: rgba(255, 255, 255, 0.7);
}

.mozaic .music-square .play {
    float:right;
    margin-top: -26px;
}

.music-square:hover {
    cursor: pointer;
}

.music-square .description, .music-square .play {
    display: none;
}
