.playlist-square, .music-large {
    min-height: 60px;
    position: relative;
    z-index: 25 !important;
}

.playlist-square {
    display: inline-block;
    width: 250px;
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}

.music-large {
    margin-right: 40px;
}

.current-playlist {
    /** TODO: How is it gonna be different than the others??? */
}

.incboard-cell:hover {
    cursor: pointer;
}

#result {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 24;
    position: relative;
    overflow-y: auto;
    display: none;
}

#close-results {
    position: fixed;
    margin-left: 905px;
    font-size: 2em;
}

.object-track {
    background-color: #ccc;
}
.object-album {
    background-color: #beb;
}

.music-large a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.music-large img {
    border: 0px;
}

.music-large:hover, .playlist-square:hover {
    cursor: pointer;
    background-color: #f40c42;
}

.music-large .image {
    position: relative;
}

.music-large .image img {
    height: 60px;
    position: absolute;
    padding: 0px;
    left: 0px;
}

.music-large div.duration {
    position: absolute;
    top: 100%;
    margin-top: -20px;
    color: white;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.music-large .title {
    left: 80px;
    padding: 3px;
    text-align: center;
    position: absolute;
    color: black;
}

.music-large .addplaylist, .music-large .play {
    position: absolute;
    top: 36px;
}

.music-large .addplaylist {
    top: 5px;
    left: 100%;
    margin-left: -30px;
}

.music-large .play {
    width: 24px;
    height: 24px;
    left: 100%;
    margin-left: -30px;
    display: none;
}

#more-results {
    opacity: 1.0;
    filter: alpha (opacity = 0);
    z-index: 25;
    position: relative;
    display: none;
}

.item-square, .item-square img {
    max-width: 120px;
    text-align: center;
}

.item-square[albumid], .item-square[albumid] .cover, .item-square[albumid] .cover img {
    max-width: 160px;
    max-height: 160px;
}

.item-square[playlistid], .item-square[playlistid] .cover, .item-square[playlistid] .cover img {
    width: 120px;
    height: 90px;
}

.item-square .name {
    position: absolute;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.85);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
}

.item-square.current-playlist .name {
    -webkit-transition: background 300ms ease-in 0ms;
    -moz-transition: background 300ms ease-in 0ms;
    -o-transition: background 300ms ease-in 0ms;
    transition: background 300ms ease-in 0ms;
}


.item-square .button img {
    width: 30px;
    opacity: 0.65;
    z-index: 100000;
}

.item-square .button.info img {
    width: 24px;
}

.item-square .button.play {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
}

.item-square .button.info {
    top: 100%;
    margin-top: -24px;
    left: 0%;
    position: absolute;
    width: 24px;
    height: 24px;
    display: none;
}

.item-square .button img:hover {
    opacity: 1.0;
}

.item-square .button.remove img {
    width: 15px;
    opacity: 0.65;
}

.item-square .button.remove {
    top: -10px;
    left: 100%;
    margin-left: -10px;
    width: 15px;
    position: absolute;
    display: none;
}

.item-square .button.remove img:hover {
    opacity: 1.0;
}

.createPlaylist {
    position: relative;
    display: inline-block;
}

.createPlaylist:hover {
    cursor: pointer;
}

.createPlaylist .loadModal {
    width: 64px;
    height: 64px;
    margin-top: 50%;
    top: -32px;
}

#albums .popover, #playlists .popover {
    font-size: 0.7em;
    overflow: hidden;
}

/*
 * TODO: disabling this now, but why was it here in the first place? What is it
 * preventing?
 *
.popover img {
    display: none;
}
*/

