43 */2 * * * cd /mnt/sdf/proj/amuzi/  ; ./scripts/gongo.sh 80 30 &&  /usr/bin/nice -n18 ./scripts/trim_data_cache.sh >> /var/log/amuzi_trim_data_cache.log
*/6 * * * * /bin/date >> /var/tmp/task_consumer.log ; cd /mnt/sdf/proj/amuzi/scripts ; ./gongo.sh 80 30 && /usr/bin/time /usr/bin/nice -n18 /usr/bin/php task_consumer_search_similar.php >> /var/tmp/task_consumer.log
*/7 * * * * /bin/date >> /var/tmp/task_consumer.log ; cd /mnt/sdf/proj/amuzi/scripts ; ./gongo.sh 80 30 && /usr/bin/time /usr/bin/nice -n18 /usr/bin/php task_consumer_search_string.php >> /var/tmp/task_consumer.log


